$body-color-default: #707070;
$yellow: #ffe600;
$blue: #122a2f;
$bg-dark: #131a1d;
$h2-font-size: 1.875rem;
$h3-font-size: 1.875rem;
$h2-margin: 0 0 19px;
$heding-small-text: #515151;
$headings-color: #000;
$headings-font-weight: 700;
$section-item-top: 60px;
$line-height-base: 1.6;
$navbar-dark-color: #a4aead;
